body {
  background-color: seashell;
}

body {
  background-image: url("https://coloredbrain.com/wp-content/uploads/2016/07/login-background.jpg");
  background-size: cover;
}

.input {
  color: white !important;
}

.h4 {
  color: white !important;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  position: fixed; /* or absolute */
  top: 30%;
  left: 30%;
}
